body{
    margin: 0;
    padding: 0;
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: 'Playwrite CO', cursive;
    height: 100vh;
}

.header-nav{
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.theme-container{
    background-color: pink;
    width: 40%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.color-box{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
}

.theme-box{
    background-color: rgb(94, 94, 94);
    width: 100px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: relative;
}

.button{
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 5px;
}

.button.right{
    transform: translateX(60px);
}

.my-profile{
    background-color: rgb(50, 50, 50);
    width: 100%;
    height: 60px;
}

@media (max-width: 940px){
    .title{
        margin-left: 15px;
    }
    .theme-container{
        width: 60%;
    }
    .color-box{
        height: 70px;
    }
    .my-profile{
        height: 70px;
    }
    .button{
        left: 163px;
    }
}